@import url('https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400..700;1,400..700&display=swap');
@import "tailwindcss";

:root {
    --prime-1-bg-color: #dbf4ff;
    --prime-1-30-bg-color: #061e2955;
    --prime-2-bg-color: #1D546D;
    
    --second-bg-color: #5F9598;
    
    --accent-color: #F3F4F4;
    --accent-2-color: #6d6d6d;
    --accent-3-color: #013246;

    --prime-btn-color: #f4f4f4;
    --prime-btn-color-hover: #d3d3d3;
}

@theme {
    --color-bg-prime-1: #dbf4ff;
    --color-bg-prime-1-30: #061e2955;
    --color-bg-prime-2: #1D546D;
    --color-bg-second: #5F9598;
    --color-accent: #F3F4F4;
    
    --color-btn-prime: #F3F4F4;
    --color-btn-second: #d3d3d3;

    --font-arimo: Arimo;

    --animate-rotate360: rotate360 .5s cubic-bezier(0.4, 0, 0.2, 1) forwards ;

    @keyframes rotate360 {
        0% {
            transform: rotateY(0deg) scale(1);
        }

        50% {
            transform: rotateY(180deg) scale(1.3);
        }

        100% {
            transform: rotateY(360deg) scale(1);
        }
    }

    
}


/* Chrome, Edge, Safari, Brave */
::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    background-color: #1b1b1c;
    border-radius: 8px;
}

::-webkit-scrollbar-thumb {
    background: #3e4042;
    border-radius: 8px;
}

::-webkit-scrollbar-thumb:hover {
    background-color: var(--accent-2-color);
}

@layer components {
    .prime-btn {
        @apply px-3 py-1 text-black font-bold bg-btn-prime hover:bg-btn-second;
    }

    .task-lis {
        @apply w-[99.5%] h-11 flex justify-between items-center gap-1 text-[19px] rounded-lg ;
    }
    
    .flex-text-center {
        @apply flex items-center
    }

    .flex-center {
        @apply flex items-center justify-center
    }

    .delete-task {
        @apply bg-[url("./assets/trash-fill.svg")]
    }

    .hover-bg {
        @apply bg-bg-prime-1-30
    }
}

* {
    box-sizing: border-box;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}