@import url('https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400..700;1,400..700&display=swap');
@import "tailwindcss";

:root {
    /* === Primary Blues === */
    --sky-blue: #E6F7FF;          /* light sky background */
    --sky-blue-soft: #CDEEFF;    /* subtle panels / cards */

    --ocean-blue: #1E6F9F;       /* main primary blue */
    --ocean-blue-dark: #0b125d;  /* headers / navbar / depth */
    --ocean-blue-dark-30: #063350c3;  /* headers / navbar / depth */
    --ocean-blue-dark-soft: #292d308f;  /* headers / navbar / depth */
    --ocean-blue-dark-2-soft: #0b3c5db2;  /* headers / navbar / depth */
    
    --carbon-dark: #0d0e10a3;  /* headers / navbar / depth */
    --carbon-hover-dark: #020203a3;  /* headers / navbar / depth */
    --carbon-dark-soft: #000000a9;  /* headers / navbar / depth */
    
    /* === Secondary Accent === */
    --teal-blue: #4FA3A5;        /* highlights, switches */

    /* === Neutral Accents === */
    --white-soft: #F5F7F8;
    --gray-muted: #6B7280;
    --ink-blue: #0A2A3A;

    /* === Buttons === */
    --btn-primary: #d3efff;
    --btn-primary-hover: #afe2ff;
}

@theme {
    /* === Backgrounds === */
    --color-bg-primary: #E6F7FF;              /* main app background */
    --color-bg-primary-soft: #CDEEFF55;       /* translucent panels */
    --color-bg-primary-2: #1E6F9F;            /* primary sections */
    --color-bg-primary-2-dark: #0b125d;       /* navbar / footer */
    --color-bg-primary-2-dark-30: #063350c3;
    --color-bg-primary-2-dark-soft: #292d308f;       /* navbar / footer */
    --color-bg-carbon-dark: #090909a3;
    --color-bg-carbon-dark-soft: #000000a9;
    
    /* === Secondary / Highlights === */
    --color-bg-secondary: #4FA3A5;             /* switches, tags */
    
    /* === Accents === */
    --color-accent-light: #F5F7F8;        /* cards, inputs */
    --color-accent-muted: #6B7280;        /* secondary text */
    --color-accent-ink: #0A2A3A;          /* icons, strong text */
    --color-bg-dark: #0d0e10a3;
    --color-bg-hover-dark: #020203a3;

    /* === Buttons === */
    --color-btn-primary: #d3efff;
    --color-btn-primary-hover: #afe2ff;

    --font-arimo: Arimo;

    --radius-my: 8px;

    --animate-rotate360: rotate360 .5s cubic-bezier(0.4, 0, 0.2, 1) forwards ;

    @keyframes rotate360 {
        0% {
            transform: rotateY(0deg) scale(1);
        }

        50% {
            transform: rotateY(180deg) scale(1.3);
        }

        100% {
            transform: rotateY(360deg) scale(1);
        }
    }

    --animate-sclaeUP: scaleHov .2s ease-in-out forwards;

    @keyframes scaleHov {
        from { 
            transform: perspective(1) scale(1);
        }
        to {
            transform: perspective(100px) scale(1.1);
        }
    }
    
}


/* Chrome, Edge, Safari, Brave */
::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    background-color: #1c1c1d;
    border-radius: 8px;
}

::-webkit-scrollbar-thumb {
    background: #666767;
    border-radius: 8px;
}

::-webkit-scrollbar-thumb:hover {
    background-color: var(--gray-muted);
}

@layer components {
    .prime-btn {
        @apply font-bold
          text-white
          cursor-pointer
          outline-btn-primary
          outline-2
          hover:bg-white
          hover:text-black
          hover:outline-0
          transition-all
          hover:animate-sclaeUP;
    }

    .prime-btn-og {
        @apply text-xl font-bold text-black
          cursor-pointer
          bg-accent-light
          hover:bg-bg-primary
          hover:text-[22px]
          transition-all
    }

    .hover-btn:hover {
        @apply transition-all bg-bg-primary text-black cursor-pointer 
    }

    .task-lis {
        @apply 
        flex justify-between items-center gap-1
        text-white
        bg-bg-dark
        rounded-my
        cursor-default
        shadow-sm
        hover:border border-white/20
        hover:shadow-md
        hover:scale-[1.01]
        transition-all duration-300
    }

    .action-btn-all {
        @apply
        absolute -bottom-5 left-1/2 -translate-x-1/2
        text-[10px]
        px-1.5 py-[1px]
        rounded
        bg-black text-white
        opacity-0 
        group-hover:opacity-100
        group-hover:translate-y-[1px]
        transition-all duration-400
        pointer-events-none
    }
    
    .flex-text-center {
        @apply flex items-center justify-center
    }

    .flex-text-start {
        @apply flex items-start justify-start
    }

    .delete-task {
        @apply bg-[url("./assets/trash-fill.svg")]
    }

}

* {
    box-sizing: border-box;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}